<div class="container">
    <div class="uk-alert mb-1">
        Color Filter - Search and Filter the color's by their names. <small>Minimum 2 characters needed to
            filter.</small>
    </div>
    <form class="uk-search uk-search-default w-100">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search" [(ngModel)]="colorName" (keyup.enter)="filterColors()"
            (input)="filterColors()" name="colorName" placeholder="Search color">
    </form>
    <div class="uk-alert mb-1" *ngIf="colorName && colorName.length < 3">
        Color name should be least 2 letters.
    </div>
    <div class="color-container mt-2" *ngIf="filteredColors && filteredColors.length > 0">
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m mt-3 mb-1" uk-grid="masonry: true"
            *ngIf="colorName && colorName.length >= 2 && filteredColors">
            <div class="p-1" *ngFor="let colors of filteredColors;let i = index">
                <div class="card p-3 text-center rounded-0 border-0 twoline" (click)="copy(colors)"
                    [attr.uk-tooltip]="'title: '+colors?.name+' click to copy;pos:top'"
                    [style.color]="getContrast(colors?.hex || '') > 3 ? '#fff' : '#000'"
                    [style.background]="colors?.hex">
                    {{colors?.name | titlecase}}
                </div>
            </div>
        </div>
    </div>
</div>